<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.itemservice.repository.mybatis.ItemMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO item (item_name, price, quantity)
        VALUES (#{itemName}, #{price}, #{quantity})
    </insert>

    <update id="update">
        UPDATE item
        SET item_name = #{updateParam.itemName},
            price = #{updateParam.price},
            quantity = #{updateParam.quantity}
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="Item">
        SELECT id, item_name, price, quantity
        FROM item
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="Item">
        SELECT id, item_name, price, quantity
        FROM item
        <where>
            <if test="itemName != null and itemName != ''">
                AND item_name like concat('%', #{itemName}, '%')
            </if>
            <if test="maxPrice != null">
                AND price $lt;= #{maxPrice}
            </if>
        </where>
    </select>
</mapper>